body {
		padding: 10px;
}

tr, th, td {
	text-align: center;
}

.checkbox {
	text-align: center;
}


table{
	margin-top: 10px;
}
<button type='button' class='btn btn-danger pull-right' id='checkAll'>Check All</button>
<td width='10%'><input class='checkbox' type='checkbox' value='".$row['id']."'></td>